@import 'utility.css';
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bai+Jamjuree&family=Barlow+Semi+Condensed:wght@500&family=Inter:wght@200;400;600;700;800&family=Poppins:wght@600&family=Roboto:ital,wght@0,300;1,300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bai+Jamjuree&family=Barlow+Semi+Condensed:wght@500&family=Inter:wght@200;400;600;700;800&family=Poppins:wght@400;600&family=Roboto:ital,wght@0,300;1,300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bai+Jamjuree&family=Barlow+Semi+Condensed:wght@500&family=Inter:wght@200;400;600;700;800&family=Lato:wght@300;400;700&family=Poppins:wght@400;600&family=Roboto:ital,wght@0,300;1,300&family=Rubik&display=swap');
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --secondary:#070606;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  
    

}
a{
    list-style:none;
color:var(--pure);
text-decoration: none;
}
header{
    width:100vw;
    background: var(--dark);
    clip-path:polygon(0 0 ,100% 0 , 100% 100%, 70% 87%, 0 100%);
   
    

}

.container{
    max-width:1152px;
    padding:0 15px;
    padding:0 15px;
    margin:0 auto;
    font-family: Poppins, sans-serif;
}
header nav{
    padding:2rem 0;
}
header nav .nav__left-logo{
    margin-right:3rem;
}
header nav .nav__left a{
    margin-right:2rem;
text-transform: uppercase;
transition:all .3s  ease;
}
header nav .nav__left a:hover{
    color:var(--primary);
}
.hero{
    padding:3rem 0;
}
.hero .hero__left img{
    width:400px;
    height:auto;
}
.hero .hero__right {
    margin-top:-7rem;
}
.hero .hero__right {
    color:var(--pure);
}
.hero .hero__right h6{
    font-size: 1.6rem;
    color:var(--primary);
    margin-bottom: 0.5rem;
}
.hero .hero__right  h1{
    font-size:4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;

}
.hero .hero__right  h1 span{
    color:var(--primary);
}
.hero .hero__right  p {
    line-height: 1.9;
    margin-bottom:2rem;
}
section{
   padding:6rem ;
   margin-inline:10rem;
}
section .about .about__img{
    height:450px;
}
section .flex-1 h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight:400;


}
section .flex-1 h1 span{
    color:var(--primary);
}
section .flex-1 h3{
    font-size:1rem;
    margin-bottom: 1rem;
    font-weight: 400;


}
section .flex-1 p{
    font-family:'lato';
    color:var(--ternary);
    line-height: 1.9;
margin-bottom: 2rem;;
}
section .flex-1 .social{
    display:flex;


}

section .flex-1 .social a {
background:var(--dark);
display:flex;
align-items: center;
justify-content: center;
width:35px;
height:35px;
border-radius: 50%;
margin-right:0.6rem;
transition:all 0.3s ease;
}
section .flex-1 .social a :hover{
    background: var(--primary);
}
section .flex-1 .social a  img{
    width:100%;
    height:100%;
    padding:0.5rem;

}
section.services{
    background:var(--light);
}
.section__heading{
    text-align: center;
    margin-bottom: 1rem;;
    line-height: 0.5;
}
.section__heading span{
    color:var(--primary);
} 
.section__heading+p{
    text-align: center;
    font-family: 'lato';
    margin-bottom: 1rem;
    margin-bottom:6rem;

}
.card__wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:2rem;
grid-row-gap:6rem;
}
.card__wrapper .card{
    background:var(--pure);
    padding:3rem  2rem;
    position: relative;
    padding-top:5rem;
    text-align:center;
    transition: all .3s ease;
}
.card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);

}
.card h2{
    font-weight:400;
    font-size:1.2rem;
    margin-bottom: 0.5rem;
}
.card p {
    font-family: 'lato';
    color:var(--ternary);
    line-height: 1.6;
}
.card:hover{
    background:var(--dark);
   
}
.card h2 , .card p:hover{
    color:var(--pure);
}
section.freelancer{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/camera.png');
    color:var(--pure);
    clip-path:polygon(0 0 ,100% 0 , 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size:2rem;
    margin-bottom: 0.5rem;
    
}
section.freelancer p {
    margin-bottom: 2rem;
    font-family: 'Lato';
}

.slide img{
    width:100px;
    height:100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;

}
section.reviews .slider .slide{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 10rem;
}
section.reviews .slider .slide p{
    font-family: 'lato' sans-serif;
    color:var(--ternary);
    margin-bottom: 1rem;;
}
section.reviews .slider .slide span{
    font-size:0.8rem;

}
.slider ul{
    display:flex;
    flex-direction: row;
}
section.work{
    background-color:var(--light);
}
.card__wrapper-image{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3rem;
}
.card__img{
    position:relative;
height:250px;

}
.card__img img{
    width:100%;
    height:100%;
}
.card__img:hover .card__wrapper-overlay{
    opacity:1;

}
.card__wrapper-overlay{
    text-align: center;
    position:absolute;
   
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:var(--light);
    background:rgba(61,207,211,0.9);
    opacity:0;
    transition: all 0.5s ease;
}
.card__wrapper-overlay a{
    color:var(--secondary);
}
.card__wrapper-overlay img{
    height:100%;
}
section.blog
{
    padding:10rem;
    clip-path:polygon(0 0 ,100% 0 , 100% 100%, 70% 87%, 0 100%);
    
    background-color: var(--secondary);
    
}
.blog__container{
    text-align: center;
}
section.blog span{
    color:var(--primary);

}
.blog__container p  {
color:var(--pure);
margin-bottom: 2rem;
}
section.blog *{
    color:var(--pure);
}
.blog__content{
    width:400px;
}
.blog__content-card {
    width:100%;
    background-color: var(--pure);
   
}
.blog__content-card p , .blog__content-card h4, h6{
    color:var(--secondary);
}
.blog__image{
    width:100%;
}
.blog__content{
   padding:5rem;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:5rem;
}
